.hidden {
  height: 8em;
  overflow: hidden;
}

.inverted {
  background-color: black;
  filter: invert(100%);
}

.xx-small {
  font-size: xx-small;
}

h1 {
  text-align: center;
}

dt {
  float: left;
  clear: left;
  margin: 4%
}

dd {
  margin: 0;
  float: left;
}

body > dl > dt {
  width: 16%;
}

body > dl > dd {
  width: 76%;
}

dd > dl > dt {
   width: 42%;
}

dd > dl > dd {
  width: 42%;
  margin: 4%;
  }
