.hidden {
  height: 8em;
  overflow: hidden;
}

.license {
  clear: both;
}

h1 {
  text-align: center;
}

dt {
  clear: left;
  float: left;
  margin: 4%
}

body > dl > dt {
  width: 16%;
}

body > dl > dd {
  float: left;
  margin: 0;
  width: 76%;
}

dd > dl > dt {
  width: 42%;
}

dd > dl > dd {
  float: right;
  clear: right;
  margin: 4%;
  width: 42%;
}
