.xx-small
{
    font-size:xx-small;
}
.hidden {
    overflow: hidden;
    height: 8.5em;
}
.inverted
{
   filter: invert(100%);
   background-color: black;
}
h1
{
    text-align:center;
}
div, p
{
    float:left;
}

body >  p
{
    width:15%;
    clear:left;
    margin:4%;
}
body >  div
{
    width:77%;
}
body > div  > div > p, body > div > p
{
  width:42%;
    margin:4%; 
}



