.xx-small
{
    font-size:xx-small;
}

h1
{
    text-align:center;
}
p
{
    width:30%;
    max-width:600px;
    margin:4%;
    float:left;
}
p:first-child
{   
    width:16%;
    
    max-width:300px;
}

p:last-child
{
    
}

div
{
    clear:both;
}

